//$hardColor: #4E4E4E;

//$widthContainer: 1170px;

$violetColor: #8D81AC;
$middleVioletColor: #635C73;
$whiteColor: #FFFFFF;
$lightGreyColor: #848E97;
$middleGreyColor: #323232;
$peopleComment: #A291A5;
$darkGreyColor: #27262A;
$backgroundColor: #333333;
$borderGrey: #3B3B3B;
$lightPurple: #A291A5;


$backgroundPrice: #4B3B4E;
$widthDesktop: 1200px;
$font: "Montserrat"






